/* PÁGINA DE CONTATO */
.pg-contato{
	
}
	.pg-contato .contato{
		margin: 0 auto 50px;
	}
		.pg-contato .contato .titulo-institucional{
			
		}
		.pg-contato .contato .formulario{
			
		}
			.pg-contato .contato .formulario label{
				display: block;
				color: var(--cinza-escuro);
				font-size: 24px;
				margin: 25px auto 12px;
			}
			.pg-contato .contato .formulario input{
				display: block;
				width: 100%;
				outline: none;
				padding: 12px 12px;
				border: 2px solid #a01588;
				font-size: 16px;
			}
				.pg-contato .contato .formulario input::placeholder{
					color: var(--cinza);
				}
			.pg-contato .contato .formulario textarea{
				width: 100%;
				height: 170px;
				outline: none;
				border: 2px solid #a01588;
				color: var(--cinza);
				padding: 8px 12px;
				font-size: 16px;
			}
				.pg-contato .contato .formulario textarea::placeholder{
					color: var(--cinza);
				}
			.pg-contato .contato .formulario input[type="submit"]{
				border: none;
				background-color: var(--roxo);
				color: #fff;
				text-transform: uppercase;
				max-width: 150px;
				padding: 6px 0;
				font-size: 20px;
				margin-top: 20px;
				border: 2px solid transparent;
				-webkit-transition: ease-in .1s;
				-moz-transition: ease-in .1s;
				-ms-transition: ease-in .1s;
				-o-transition: ease-in .1s;
				transition: ease-in .1s;
				
			}
			.pg-contato .contato .formulario input[type="submit"]:hover{
				background-color: #fff;
				color: #a01588;
				border-color: #a01588;
			}
	.pg-contato .secao-mapa{
		
	}
		.pg-contato .secao-mapa .maps{
			
		}

/* EXTRAS */
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	background-color: #f7e700;
	text-align: center;
	color: #000;
	margin: 0;
	font-size: 15px;
}
div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
	background-color: #ff0000;
	text-align: center;
	color: #fff;
	margin: 0;
	font-size: 15px;
}

/* MEDIA QUERY */
  @media(max-width: 1200px){
  	.pg-contato .contato {
  		padding: 0 10px;
  	}
  }

  @media(max-width: 991px){
  	.pg-contato .contato .formulario label {
  		font-size: 22px;
  		margin: 25px auto 7px;
  	}
  	.pg-contato .contato .formulario input {
  		font-size: 16px;
  		padding: 10px 12px;
  	}
  }

  @media(max-width: 840px){
  	
  }

  @media(max-width: 768px){}

  @media(max-width: 425px){
  	.pg-contato .contato .formulario label {
  		font-size: 18px;
  		margin: 25px auto 7px;
  	}
  	.pg-contato .contato .formulario input {
  		font-size: 15px;
  		padding: 8px 12px;
  	}
  	.pg-contato .contato .formulario input[type="submit"] {
  		font-size: 18px;
  		padding: 4px 0;
  	}
  	.pg-contato .contato .formulario textarea {
  		height: 130px;
  	}
  }

  @media(max-width: 320px){}