/* PÁGINA DE CATEGORIAS */
.pg-categorias{
	padding: 12px 0 18px;
}
 .pg-categorias .titulo{
 	text-align: left;
 	font-size: 34px;
 	display: inline-block;
 	position: relative;
 }
 .pg-categorias .titulo::before{
 	content: '';
 	position: absolute;
 	bottom: -18px;
 	left: 0;
 	width: 77px;
 	height: 4px;
 	background-color: var(--roxo);
 }
 .pg-categorias .nav-paginador{
 	/* display: inline-block; */
 	width: 100%;
 	max-width: 362px;
 	/* text-align: right; */
 	/* vertical-align: top; */
 	float: right;
 }
 	.pg-categorias .nav-paginador .paginador{
 		display: inline-block;
 		width: 100%;
 		max-width: 204px;
 		margin: 0 auto;
 	}
 		.pg-categorias .nav-paginador .paginador ul{
 			margin: 0;
 		}
 			.pg-categorias .nav-paginador .paginador ul li{
 				display: inline-block;
 				border: 2px solid var(--roxo);
 			}
 				.pg-categorias .nav-paginador .paginador ul li a{
 					line-height: 16px;
 					color: var(--roxo);
 					padding: 5px 10px;
 					display: block;
 					font-size: 12px;
 					font-weight: bold;
 					-webkit-transition: ease-in-out .1s;
 					-moz-transition: ease-in-out .1s;
 					-ms-transition: ease-in-out .1s;
 					-o-transition: ease-in-out .1s;
 					transition: ease-in-out .1s;
 					
 				}
 				.pg-categorias .nav-paginador .paginador ul li a.ultimo{
 					padding: 5px 16px;
 				}
 				.pg-categorias .nav-paginador .paginador ul li a:hover{
 					background-color: var(--roxo);
 					color: #fff;
 				}
 	.pg-categorias .nav-paginador .filtro{
 		display: inline-block;
 		width: 100%;
 		max-width: 153px;
 	}
 		.pg-categorias .nav-paginador .filtro form{

 		}
 			.pg-categorias .nav-paginador .filtro form select{
 				border: 2px solid var(--roxo);
 				color: var(--roxo);
 				font-size: 12px;
 				font-weight: 600;
 				padding: 5px 44px 5px 22px;
 				outline: none;
 				-webkit-appearance: none;
 				-moz-appearance: none;
 				appearance: none;
 				background-image: url(../img/angle-down.svg);
 				background-repeat: no-repeat;
 				background-size: 18px;
 				background-position-x: 111px;
 				background-position-y: center;
 				-webkit-transition: ease-in .1s;
 				-moz-transition: ease-in .1s;
 				-ms-transition: ease-in .1s;
 				-o-transition: ease-in .1s;
 				transition: ease-in .1s;
 				cursor: pointer;
 			}
.pg-categorias .lista-produtos{

}
	.pg-categorias .lista-produtos .produtos{
		text-align: center;
	}
		.pg-categorias .lista-produtos .produtos .item-produto{
			width: 100%;
			max-width: 33%;
			display: inline-block;
			padding: 12px 8px;
		}
			.pg-categorias .lista-produtos .produtos .item-produto .produto{

			}
				.pg-categorias .lista-produtos .produtos .item-produto .produto a{

				}
					.pg-categorias .lista-produtos .produtos .item-produto .produto a img{

					}
				.pg-categorias .lista-produtos .produtos .item-produto .produto .nome-produto{

				}
				.pg-categorias .lista-produtos .produtos .item-produto .produto .pagamento{

				}
				.pg-categorias .lista-produtos .produtos .item-produto .produto .btn-comprar{

				}
					.pg-categorias .lista-produtos .produtos .item-produto .produto .btn-comprar .comprar{

					}
.pg-categorias .final{
	max-width: 100%;
	text-align: center;
}
	.pg-categorias .final .paginador{
		max-width: 100%;
	}
		.pg-categorias .final .paginador ul{

		}
			.pg-categorias .final .paginador ul li{
			
			}
				.pg-categorias .final .paginador ul li a{

				}
				.pg-categorias .final .paginador ul li a.ultimo{

				}

/* MEDIA QUERY */
  @media(max-width: 1400px){
  	
  }

  @media(max-width: 1040px){
  	.pg-categorias .lista-produtos .produtos .item-produto{
  		max-width: 32%;
  		padding: 0;
  	}
  	
  	.pg-categorias .lista-produtos .produtos .item-produto .produto a img{
  		max-width: 210px !important;
  	}
  }

  @media(max-width: 991px){
  	.pg-categorias .lista-produtos .produtos .item-produto {
  		max-width: 44%;
  		padding: 0;
  	}
   
  }

  @media(max-width: 920px){
  	
  }

  @media(max-width: 840px){

  }

  @media(max-width: 768px){
    .pg-categorias .nav-paginador .filtro{
      max-width: 100%;
    }
     .pg-categorias .nav-paginador .paginador ul{
    
    }
    .pg-categorias .nav-paginador .filtro form select{
      margin: 0 auto;
      display: block;
    }
  }

  @media(max-width: 590px){
  	
  }

  @media(max-width: 550px){
  	.pg-categorias .nav-paginador {
  		float: initial;
  		display: block;
  		margin: 40px auto 0;
  	}
  	.pg-categorias .titulo {
  		font-size: 34px;
  		padding: 0 10px;
  	}
  }

  @media(max-width: 540px){
  	.pg-categorias .lista-produtos .produtos .item-produto {
  		max-width: 49%;
  		padding: 12px 5px;
  	}
  }

  @media(max-width: 425px){
  	
  }

  @media(max-width: 320px){}