/* PÁGINA INCIAL */
.pg-inicial{

}
	.pg-inicial .carrosselDestaque{
		z-index: -1;
		position: relative;
	}
		.pg-inicial .carrosselDestaque #carrosselDestaque{

		}
			.pg-inicial .carrosselDestaque #carrosselDestaque .item{

			}
				.pg-inicial .carrosselDestaque #carrosselDestaque .item a{

				}
					.pg-inicial .carrosselDestaque #carrosselDestaque .item a img{

					}
	.pg-inicial .secao-categorias{

	}
		.pg-inicial .secao-categorias .categorias-destaque{
			font-size: 0;
			text-align: center;
		}
			.pg-inicial .secao-categorias .categorias-destaque .li-categorias-destaque{
				display: inline-block;
				width: 100%;
				max-width: 33%;
				vertical-align: top;
				padding: 0 5px;
			}
				.pg-inicial .secao-categorias .categorias-destaque .li-categorias-destaque a{
					display: block;
					height: 100%;
					min-height: 600px;
					background-image: url(../img/categoria1.png);
					margin: 10px auto;
					position: relative;
					color: #fff;
					z-index: 2;
					font-size: 58px;
					text-transform: uppercase;
					font-weight: bold;
					/*padding: 259px 0;*/
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
				}
				.pg-inicial .secao-categorias .categorias-destaque .li-categorias-destaque a::before{
					/*content: '';*/
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.45);
					-webkit-transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					z-index: -1;
				}
			.pg-inicial .secao-categorias .categorias-destaque .categoria-menor{

			}
				.pg-inicial .secao-categorias .categorias-destaque .categoria-menor a{
					min-height: 295px;
					/*padding: 106px 0;*/
				}
		.pg-inicial .secao-categorias .todas-categorias{
			position: relative;
		}
			.pg-inicial .secao-categorias .todas-categorias .titulo{
				padding: 10px 0 0;
			}
			.pg-inicial .secao-categorias .todas-categorias .carrossel-categorias{
				text-align: center;
				margin: 28px auto 25px;
				width: 100%;
				max-width: 1260px;
				margin: 0 auto;
				padding-top: 20px;
			}
				.pg-inicial .secao-categorias .todas-categorias .carrossel-categorias .item{
					
				}
					.pg-inicial .secao-categorias .todas-categorias .carrossel-categorias .item a{
						display: block;
						width: 100%;
					}
						.pg-inicial .secao-categorias .todas-categorias .carrossel-categorias .item a img{
							margin: 0 auto;
							width: 100%;
							max-width: 135px;
						}
						.pg-inicial .secao-categorias .todas-categorias .carrossel-categorias .item a h3{
							color: var(--roxo);
							font-size: 16px;
						}
	.pg-inicial .secao-produtos{
		margin: 42px auto 0;
	}
		.pg-inicial .secao-produtos .filtro-marcas{
			text-align: center;
			padding-bottom: 20px;
		}
			.pg-inicial .secao-produtos .filtro-marcas a{
				font-size: 30px;
				font-family: americanCapitain;
				padding: 0 22px;
				color: var(--cinza-letras);
				display: inline-block;
				position: relative;
				-webkit-transition: ease-in .1s;
				-moz-transition: ease-in .1s;
				-ms-transition: ease-in .1s;
				-o-transition: ease-in .1s;
				transition: ease-in .1s;
			}
			.pg-inicial .secao-produtos .filtro-marcas a:hover{
				color: var(--roxo) !important;
			}
				.pg-inicial .secao-produtos .filtro-marcas a .borda{
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					display: block;
					width: 0;
					height: 4px;
					background-color: var(--roxo);
					-webkit-transform: translateX(-50%);
					-moz-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					-o-transform: translateX(-50%);
					transform: translateX(-50%);
					-webkit-transition: ease-in .2s;
					-moz-transition: ease-in .2s;
					-ms-transition: ease-in .2s;
					-o-transition: ease-in .2s;
					transition: ease-in .2s;
				}
				.pg-inicial .secao-produtos .filtro-marcas a:hover .borda{
					width: 28px;
				}
				.pg-inicial .secao-produtos .filtro-marcas a.filtroAtivo{
					color: var(--roxo);
				}
					.pg-inicial .secao-produtos .filtro-marcas a.filtroAtivo span{
						width: 28px;
					}
		.pg-inicial .secao-produtos .lista-produtos{
			position: relative;
		}
		.pg-inicial .secao-produtos .escolha-por-marca .lista-produtos{
			display: none;
		}
		.pg-inicial .secao-produtos .escolha-por-marca .lista-produtos.carrosselAtivo{
			display: block;
		}
			.pg-inicial .secao-produtos .lista-produtos .carrossel-dois{
				margin-top: 10px;
			}
		.pg-inicial  .promocoes{
			margin: 30px auto 15px;
			position: relative;
		}
			.pg-inicial  .promocoes .carrossel-promocoes{
				width: 100%;
				max-width: 1235px;
				margin: 0 auto;
			}
			.pg-inicial  .promocoes .item-promocao{
				border-right: 1px solid var(--cinza);
				padding: 25px 18px;
				text-align: center;
				outline: none;
			}
				.pg-inicial  .promocoes .item-promocao a{
					display: block;
					width: 100%;
				}
					.pg-inicial  .promocoes .item-promocao a .icon-promocoes{
						/*display: inline-block;*/
						vertical-align: middle;
					}
						.pg-inicial  .promocoes .item-promocao a .icon-promocoes img{
							width: 100%;
							max-width: 55px;
							display: inline-block;
						}
					.pg-inicial  .promocoes .item-promocao a .info{
						display: inline-block;
						vertical-align: middle;
						text-transform: uppercase;
						font-size: 16px;
						font-weight: bold;
						color: var(--roxo);
						margin: 0;
						width: 100%;
						max-width: 70%;
						/* padding-right: 0px; */
						padding-left: 10px;
						letter-spacing: .2px;
						text-align: left;
					}
	.pg-inicial .figure-banner{

	}
		.pg-inicial .figure-banner .img-banner{
			display: block;
			width: 100%;
			max-width: 100%;
		}
	.pg-inicial .secao-marcas{
		margin: 40px auto;
	}
		.pg-inicial .secao-marcas .titulo{

		}
		.pg-inicial .secao-marcas .marcas{
			margin: 27px auto 0;
			position: relative;
		}
			.pg-inicial .secao-marcas .marcas .carrossel-marcas{
				width: 100%;
				max-width: 1170px;
				margin: 0 auto;
			}
				.pg-inicial .secao-marcas .marcas .carrossel-marcas .item-marca{
					text-align: center;
					display: block;
					border-right: 2px solid #ececec;
					padding: 7px 0;
					outline: none;
				}
					.pg-inicial .secao-marcas .marcas .carrossel-marcas .item-marca a{
						display: block;
					}
						.pg-inicial .secao-marcas .marcas .carrossel-marcas .item-marca img{
							margin: 0 auto;
							width: 100%;
							max-width: 135px;
						}