/* PÁGINA INSTITUCIONAL */
.pg-institucional{

}
	.pg-institucional .titulo-institucional{
    	font-size: 77px;
	}
	.pg-institucional .conteudo{

	}
		.pg-institucional .conteudo p{
			color: var(--cinza-letras);
			font-size: 18px;
			margin: 20px auto;
		}
.pg-institucional h2,
.pg-institucional h3,
.pg-institucional h4{
	color: var(--roxo);
}
.pg-institucional ol{
	
}
	.pg-institucional ol li{
		list-style-type: decimal !important;
		list-style-position: inside !important;
		color: var(--cinza-letras);
		font-size: 18px;
		margin: 4px auto;
	}
		.pg-institucional ol li ol{

		}
			.pg-institucional ol li ol li{
				list-style-type: lower-latin !important;
				text-indent: 17px;
			}
.pg-institucional ul{
	
}
	.pg-institucional ul li{
		list-style-type: disc !important;
		list-style-position: inside !important;
		color: var(--cinza-letras);
		font-size: 18px;
		margin: 4px auto;
	}
		.pg-institucional ul li ul{
			
		}
			.pg-institucional ul li ul li{
				list-style-type: circle !important;
				text-indent: 17px;
			}

/* MEDIA QUERY */
  @media(max-width: 1200px){
  	.pg-institucional .conteudo {
  		padding: 0 15px;
  	}
  }

  @media(max-width: 991px){
  	.pg-institucional .conteudo {
  		padding: 0 10px;
  	}
  }

  @media(max-width: 840px){
  	.pg-institucional .conteudo p {
  		font-size: 16px;
  	}
  	.pg-institucional .titulo-institucional {
  		font-size: 65px;
  	}
  	.pg-institucional .conteudo {
  		padding: 0 20px;
  	}
  }

  @media(max-width: 768px){}

  @media(max-width: 425px){
  	.pg-institucional .conteudo p {
  		font-size: 14px;
  	}
  	.pg-institucional .titulo-institucional {
  		font-size: 42px;
  	}
  }

  @media(max-width: 320px){}