/* PÁGINA DE PERGUNTAS FREQUENTES */
.pg-perguntas-frequentes{

}
	.pg-perguntas-frequentes .titulo-institucional{
    	font-size: 77px;
	}
	.pg-perguntas-frequentes .passos{
		margin: 35px auto 45px;
		/*min-height: 765px;*/
		/*max-height: 765px;*/
	}
		.pg-perguntas-frequentes .passos .passos-tab{
			border: 3px solid transparent;
			margin: 10px auto;
		}
			.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo{
				background-color: var(--roxo);
				margin: 0;
				-webkit-transition: ease-in .1s;
				-moz-transition: ease-in .1s;
				-ms-transition: ease-in .1s;
				-o-transition: ease-in .1s;
				transition: ease-in .1s;
			}
				.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a{
					display: block;
					padding: 13px 20px;
					color: #fff;
				}
					.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a p{
						display: inline-block;
						margin: 0;
						max-width: 92%;
						width: 100%;
					}
					.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a figure{
						float: right;
					}
					.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a img{
						width: 100%;
						max-width: 25px;
						display: inline-block;
						/*float: right;*/
					}
					.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a img.minus{
						display: none;
					}
			.pg-perguntas-frequentes .passos .passos-tab .passos-tab-conteudo{
				height: 0;
				-webkit-transition: ease-in .2s;
				-moz-transition: ease-in .2s;
				-ms-transition: ease-in .2s;
				-o-transition: ease-in .2s;
				transition: ease-in .2s;
				overflow: hidden;
				font-size: 0;
			}
				.pg-perguntas-frequentes .passos .passos-tab .passos-tab-conteudo p{
					color: var(--cinza-escuro);
					font-size: 0;
					margin: 0;
					-webkit-transition: ease-in .2s;
					-moz-transition: ease-in .2s;
					-ms-transition: ease-in .2s;
					-o-transition: ease-in .2s;
					transition: ease-in .2s;
				}
				.pg-perguntas-frequentes .passos .passos-tab .passos-tab-conteudo ul{

				}
					.pg-perguntas-frequentes .passos .passos-tab .passos-tab-conteudo ul li{
						list-style-type: disc !important;
						list-style-position: inside !important;
					}				
		.pg-perguntas-frequentes .passos .open{
			border-color: var(--roxo);
			padding: 0 20px;
		}
			.pg-perguntas-frequentes .passos .open .passos-tab-titulo{
				background-color: transparent;
				border-bottom: 3px solid var(--roxo);
				-webkit-transition: ease-in .1s;
				-moz-transition: ease-in .1s;
				-ms-transition: ease-in .1s;
				-o-transition: ease-in .1s;
				transition: ease-in .1s;
			}
				.pg-perguntas-frequentes .passos .open .passos-tab-titulo a{
					color: var(--roxo);
					padding: 13px 0;
				}
					.pg-perguntas-frequentes .passos .open .passos-tab-titulo a img.plus{
						display: none;
					}
					.pg-perguntas-frequentes .passos .open .passos-tab-titulo a img.minus{
						display: inline-block;
					}
			.pg-perguntas-frequentes .passos .open .passos-tab-conteudo{
				height: 100%;
				-webkit-transition: ease-in .2s;
				-moz-transition: ease-in .2s;
				-ms-transition: ease-in .2s;
				-o-transition: ease-in .2s;
				transition: ease-in .2s;
				font-size: 16px;
				color: var(--cinza-escuro);
			}
				.pg-perguntas-frequentes .passos .open .passos-tab-conteudo p{
					font-size: 16px;
					margin: 16px auto;
					-webkit-transition: ease-in .2s;
					-moz-transition: ease-in .2s;
					-ms-transition: ease-in .2s;
					-o-transition: ease-in .2s;
					transition: ease-in .2s;
				}

/* MEDIA QUERY */
  @media(max-width: 1200px){
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a {
  		font-size: 20px;
  	}
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a img {
  		max-width: 20px;
  	}
  }

  @media(max-width: 1020px){
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a {
  		font-size: 18px;
  	}
  }

  @media(max-width: 991px){}

  @media(max-width: 920px){
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a {
  		font-size: 15px;
  	}
  	.pg-perguntas-frequentes .titulo-institucional {
  		font-size: 65px;
  	}
  }

  @media(max-width: 840px){

  }

  @media(max-width: 768px){}

  @media(max-width: 590px){
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a {
  		padding: 10px 8px;
  	}
  }

  @media(max-width: 560px){
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a p {
  		width: 100%; 
  		max-width: 500px; 
  	}
  }

  @media(max-width: 540px){
  	.pg-perguntas-frequentes .titulo-institucional {
  		font-size: 50px;
  	}
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a p {
  		max-width: 380px;
  	}
  }

  @media(max-width: 425px){
  	.pg-perguntas-frequentes .passos .passos-tab .passos-tab-titulo a p {
  		max-width: 275px;
  	}
  }

  @media(max-width: 320px){}