/* PÁGINA DE PRODUTO */
.pg-produto{
	
}
	.pg-produto .secao-produto{
		margin: 35px auto 25px;
		border-bottom: 4px solid var(--cinza-escuro);
		padding: 0 0 30px;
	}
		.pg-produto .secao-produto .imagens{
			position: relative;
		}
			.pg-produto .secao-produto .imagens .setas-carrossel-produto{

			}
				.pg-produto .secao-produto .imagens .setas-carrossel-produto .setas{
					display: block;
					cursor: pointer;
					position: absolute;
					left: 30px;
				}
					.pg-produto .secao-produto .imagens .setas-carrossel-produto .setas img{
						width: 100%;
						max-width: 30px;
					}
				.pg-produto .secao-produto .imagens .setas-carrossel-produto .prev{
					top: 55px;
					/*transform: rotate(90deg);*/
				}
					.pg-produto .secao-produto .imagens .setas-carrossel-produto .prev img{

					}
				.pg-produto .secao-produto .imagens .setas-carrossel-produto .next{
					bottom: 84px;
					/*transform: rotate(90deg);*/
				}
					.pg-produto .secao-produto .imagens .setas-carrossel-produto .next img{

					}
			.pg-produto .secao-produto .imagens .carrossel-produto{
				display: inline-block;
				max-width: 90px;
				vertical-align: middle;
				min-height: 300px;
				margin-top: 60px;
			}
				.pg-produto .secao-produto .imagens .carrossel-produto .imagem-produto{
					min-height: 102px;
					outline: none;
					cursor: pointer;
				}
					.pg-produto .secao-produto .imagens .carrossel-produto .imagem-produto img{
						display: block;
						width: 100%;
					}
			.pg-produto .secao-produto .imagens .imagem-destaque-produto{
				display: inline-block;
				width: 100%;
				max-width: 685px;
				vertical-align: middle;
				padding: 0 20px;
			}
				.pg-produto .secao-produto .imagens .imagem-destaque-produto img{
					width: 100%;
					max-width: 632px;
					margin: 0 auto;
					display: block;
					box-shadow: 0 0 5px 0px var(--cinza);
					height: 560px;
				}
		.pg-produto .secao-produto .info-produto{
			
		}
			.pg-produto .secao-produto .info-produto .nome-produto{
				font-family: americanCapitain;
				color: var(--roxo);
				font-size: 50px;
				margin: 0;
			}
			.pg-produto .secao-produto .info-produto .product_title.entry-title{
				font-family: americanCapitain;
				color: var(--roxo);
				font-size: 50px;
				margin: 0;
			}
			.pg-produto .secao-produto .info-produto .ref{
				color: var(--cinza-letras);
			}
			.pg-produto .secao-produto .info-produto .price{
				margin: 10px auto 18px;
				position: relative;
				padding: 0 0 18px;
			}
			.pg-produto .secao-produto .info-produto .price::before{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 139px;
				height: 3px;
				display: inline-block;
				background-color: var(--cinza-escuro);
			}
				.pg-produto .secao-produto .info-produto .preco-produto .valor{
					display: inline-block;
					width: 100%;
					max-width: 45%;
				}
					.pg-produto .secao-produto .info-produto .preco-produto .valor span{
						font-size: 27px;
						color: var(--cinza-escuro);
						font-weight: 700;
					}
					.pg-produto .secao-produto .info-produto .preco-produto .valor p{
						font-size: 55px;
						font-family: americanCapitain;
						color: var(--laranja);
						margin: 0;
						line-height: 40px;
					}
					.pg-produto .secao-produto .info-produto .woocommerce-Price-amount.amount{
						font-size: 55px;
						font-family: americanCapitain;
						color: var(--laranja);
						margin: 0;
						line-height: 40px;
					    margin-right: 25px;
					}
					.pg-produto .secao-produto .info-produto .price{
						font-size: 55px;
						font-family: americanCapitain;
						color: var(--laranja);
					
					}
				.pg-produto .secao-produto .info-produto .preco-produto .inteiro{
					
				}
				.pg-produto .secao-produto .info-produto .preco-produto .parcela{
					
				}
			.pg-produto .secao-produto .info-produto form{
				margin: 10px auto;
			}
				.pg-produto .secao-produto .info-produto form label{
					font-size: 22px;
					font-weight: 100;
					color: var(--cinza-escuro);
					margin-bottom: 10px;
					padding-top: 7px;
				}
				.pg-produto .secao-produto .info-produto form select{
					border: 1px solid #a01588;
					border-radius: 12px;
					padding: 5px 12px;
					outline: none;
					color: var(--cinza-escuro);
				}
				.pg-produto .secao-produto .info-produto form input{
					border: 1px solid #a01588;
					border-radius: 12px;
					padding: 5px 12px;
					outline: none;
					color: var(--cinza-escuro);
					max-width: 148px;
				}
			.pg-produto .secao-produto .info-produto .btn-comprar{
				/* background-color: var(--roxo); */
				width: 100%;
				max-width: 275px;
				text-align: center;
				/* border-radius: 14px; */
			}
				.pg-produto .secao-produto .info-produto .btn-comprar input{
					/*text-transform: uppercase;
					font-weight: bold;
					font-size: 35px;
					color: #fff;
					display: block;
					padding: 4px 0;*/
					background-color: var(--roxo);
					width: 100%;
					/* max-width: 275px; */
					text-align: center;
					border-radius: 14px;
					border: none;
					/* margin: 0 auto; */
					color: #fff;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 35px;
					outline: none;
					border: 2px solid transparent;
					-webkit-transition: ease-in .1s;
					-moz-transition: ease-in .1s;
					-ms-transition: ease-in .1s;
					-o-transition: ease-in .1s;
					transition: ease-in .1s;
				}
				.pg-produto .secao-produto .info-produto .btn-comprar input:hover{
					background-color: #fff;
					color: var(--roxo);
					border-color: var(--roxo);
				}
			.pg-produto .secao-produto .info-produto .sociais{
				
			}
				.pg-produto .secao-produto .info-produto .sociais .ul-sociais{
					margin: 20px auto 0;
				}
					.pg-produto .secao-produto .info-produto .sociais .ul-sociais .li-sociais{
						display: inline-block;
					}
						.pg-produto .secao-produto .info-produto .sociais .ul-sociais .li-sociais a{
							display: block;
							background-color: var(--roxo);
							padding: 4px 8px;
							border-radius: 100%;
							color: #fff;
						}
						.pg-produto .secao-produto .info-produto .sociais .ul-sociais .li-sociais a.facebook{
							padding: 4px 10px;
						}
						.pg-produto .secao-produto .info-produto .sociais .ul-sociais .li-sociais a.pinterest{
							padding: 4px 9px;
						}
						.pg-produto .secao-produto .info-produto .sociais .ul-sociais .li-sociais a.google{
							padding: 4px 6px;
						}
	.pg-produto .descricao{
		padding: 0 20px;
	}
		.pg-produto .descricao .titulo-descricao{
			font-size: 55px;
			text-align: left;
		}
		.pg-produto .descricao p{
			margin: 0px auto 5px;
			color: var(--cinza-escuro);
			font-size: 20px;
		}
		.pg-produto .descricao .descricao-texto{
			margin: 0 auto 15px;
		}
		.pg-produto .descricao .desc-detalhes{
			
		}
	.pg-produto .relacionados{
		
	}
		.pg-produto .relacionados .titulo-relacionados{
			font-size: 55px;
		}
		.pg-produto .relacionados .lista-produtos{
			position: relative;
		}
			.pg-produto .relacionados .lista-produtos .carrossel-relacionados{
				max-width: 1048px;
			}
				.pg-produto .relacionados .lista-produtos .carrossel-relacionados .item-produto{
					
				}
				.single-product .widget-area{
					display: none;
				}
.setas-carrossel-relacionados{

}
	.setas-carrossel-relacionados .setas{
		display: block;
		position: absolute;
		top: 50%;
		cursor: pointer;
	}
		.setas-carrossel-relacionados .setas img{
			width: 100%;
			max-width: 60px;
		}
	.setas-carrossel-relacionados .prevRelacionados{
		left: 60px;
		-webkit-transform: translateY(-50%) rotate(-90deg);
		-moz-transform: translateY(-50%) rotate(-90deg);
		-ms-transform: translateY(-50%) rotate(-90deg);
		-o-transform: translateY(-50%) rotate(-90deg);
		transform: translateY(-50%) rotate(-90deg);
	}
	.setas-carrossel-relacionados .nextRelacionados{
		right: 60px;
		-webkit-transform: translateY(-50%) rotate(-90deg);
		-moz-transform: translateY(-50%) rotate(-90deg);
		-ms-transform: translateY(-50%) rotate(-90deg);
		-o-transform: translateY(-50%) rotate(-90deg);
		transform: translateY(-50%) rotate(-90deg);
	}

		@media(max-width: 768px){
		.setas-carrossel-relacionados{
			display: none;
		}
		.pg-produto .secao-produto .imagens .carrossel-produto{
			max-width: 100%;
			min-height: initial;
		}
		.pg-produto .secao-produto .imagens .carrossel-produto .imagem-produto{
			min-height: initial;
		}
		.pg-produto .secao-produto .imagens .carrossel-produto .imagem-produto img{
			max-width: 120px;
			margin: 0 auto;
		}
		.pg-produto .secao-produto .imagens .carrossel-produto .slick-prev{
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			z-index: 9;
			left: 10px;
			transform: initial;
			-webkit-transform: initial;
			-moz-transform: initial;
			-ms-transform: initial;
			-o-transform: initial;
			transform: initial;
			transform: rotate(-90deg) ;
			-webkit-transform: rotate(-90deg) ;
			-moz-transform: rotate(-90deg) ;
			-o-transform: rotate(-90deg) ;
			-ms-transform: rotate(-90deg) ;

		}
		.pg-produto .secao-produto .imagens .carrossel-produto .slick-next{
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			z-index: 9;
			right: 10px;
			transform: initial;
			-webkit-transform: initial;
			-moz-transform: initial;
			-ms-transform: initial;
			-o-transform: initial;
			transform: initial;
			    left: initial;
			transform: rotate(-90deg) ;
			-webkit-transform: rotate(-90deg) ;
			-moz-transform: rotate(-90deg) ;
			-o-transform: rotate(-90deg) ;
			-ms-transform: rotate(-90deg) ;
		}
		.pg-produto .secao-produto .info-produto .nome-produto{
			font-size: 44px;
		}
		.pg-produto .secao-produto .info-produto .preco-produto .valor{
			display: block;
		}
		.pg-produto .secao-produto .info-produto{
			padding: 0 20px;
		}
	}