/* SIDEBARS PRINCIPAL */
.sidebar{
	width: 100%;
	max-width: 325px;
	padding: 26px 0 0;
}
	.sidebar .filtros-sidebar{
		position: relative;
	}
		.sidebar  .widget-title{
			text-align: left;
			font-size: 18px;
			margin: 18px auto 16px;
			color: #861472;
			display: block;
			text-transform: uppercase;
			font-weight: bold;
		}
		.sidebar .product-categories>li> a{
			text-align: left;
			font-size: 18px;
			border-bottom: 2px solid var(--cinza);
			margin: 18px auto 16px;
			color: #861472;
			display: block;
			text-transform: uppercase;
			font-weight: bold;
		}
		.sidebar .product-categories>li> a::before{
			display: none;
		}
		.sidebar .filtros-sidebar .filtro{
			width: 14.5px;
			height: 14.5px;
			background-color: var(--laranja);
			display: block;
			border-radius: 100%;
			position: absolute;
			bottom: 23px;
		}
		.sidebar .filtros-sidebar .filtro-bar{
			width: 99%;
			height: 5px;
			background-color: var(--laranja);
			margin: 16px auto 0;
		}
		.sidebar .filtros-sidebar .filtro-left{
			left: 0;
		}
		.sidebar .filtros-sidebar .filtro-right{
			right: 0;
		}
		.sidebar .filtros-sidebar .valor{
			color: var(--cinza-escuro);
			font-size: 12px;
			display: block;
			text-align: right;
			font-weight: 600;
			margin: 10px auto 0;
		}
		.sidebar .filtros-sidebar .input-checkbox{

		}
			.sidebar  .cat-item li.cat-item {

			}
				.sidebar  .cat-item li.cat-item  {
					position: relative;
					padding-bottom: 10px;
				}
					.sidebar  .cat-item li.cat-item   input[type="checkbox"]{
						position: absolute;
						opacity: 0;
					}
					.sidebar  .cat-item li.cat-item    a::before{
						border: 1px solid var(--cinza);
						content: "\00a0";
						display: inline-block;
						font: 16px/1em sans-serif;
						height: 18px;
						padding: 0;
						width: 18px;
						cursor: pointer;
						margin-right: 6px;
					}
					.sidebar  .cat-item li.cat-item a:hover:before{
						background-color: var(--roxo);
						color: #FFF;
						content: "\2713";
						text-align: center;
						border-color: var(--roxo);
					}
					.sidebar  .cat-item li.cat-item.current-cat a:before{
						background-color: var(--roxo);
						color: #FFF;
						content: "\2713";
						text-align: center;
						border-color: var(--roxo);
					}
					.sidebar  .cat-item li.cat-item   a{
						font-weight: 100;
						color: #861472;
						font-size: 16px;
						cursor: pointer;
						position: relative;
						overflow: hidden;
						margin: 0;
					}
					.sidebar  .cat-item li.cat-item   a::after{
						content: '';
						position: absolute;
						bottom: 0;
						left: 23px;
						width: 0;
						height: 1px;
						background-color: var(--roxo);
						-webkit-transition: ease-in-out, .2s;
						-moz-transition: ease-in-out, .2s;
						-ms-transition: ease-in-out, .2s;
						-o-transition: ease-in-out, .2s;
						transition: ease-in-out, .2s;
					}
					.sidebar  .cat-item li.cat-item   a:hover::after{
						width: 100%;
					}
	.sidebar .filtro-numero{

	}
		.sidebar .filtro-numero .input-checkbox{

		}
			.sidebar .filtro-numero .input-checkbox .lista-checkbox{

			}
				.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox{
					display: inline-block;
					width: 100%;
					max-width: 15.6%;
					text-align: center;
					height: 44px;
					padding: 0px 2px;
				}
					.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox input[type="checkbox"]{

					}
					.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox input[type="checkbox"] + label::before{
						position: absolute;
						width: 100%;
						height: 100%;
						display: block;
						margin: 0px;
					}
					.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox input[type="checkbox"]:checked + label::before{
						content: '';
						z-index: -1;
					}
					.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox input[type="checkbox"]:checked + label{
						color: #fff;
					}
					.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox label{
						overflow: inherit;
						height: 100%;
						width: 100%;
						text-align: center;
						font-size: 26px;
						font-weight: 600;
						line-height: 44px;
						position: relative;
					}
					.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox label::after{
						content: '';
						left: 0;
						width: 0;
						height: 0;
						background-color: transparent;
						border-bottom: 1px solid transparent;
						border-left: 1px solid transparent;
					}
					.sidebar .filtro-numero .input-checkbox .lista-checkbox .item-checkbox label:hover::after{
						width: 100%;
						height: 100%;
						border-color: var(--roxo);
					}
		.sidebar .filtros-sidebar .titulo-preco{
			border-color: transparent;
		}

/* SIDEBAR ATENDIMENTO */
.sidebar-atendimento{
	width: 100%;
	max-width: 300px;
	padding: 39px 0 0;
}
	.sidebar-atendimento .titulo{
		text-align: left;
		font-size: 30px;
		position: relative;
		padding: 0 0 15px;
		margin: 0 auto 27px;
	}
	.sidebar-atendimento .titulo::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 77px;
		height: 4px;
		background-color: var(--roxo);
	}
	.sidebar-atendimento .nav-sidebar{
		
	}
		.sidebar-atendimento .nav-sidebar h6{
			font-size: 18px;    
			text-transform: uppercase;
			color: var(--roxo);
			font-weight: 600;
			border-bottom: 2px solid var(--cinza-letras);
			margin: 20px auto 3px;
		}
		.sidebar-atendimento .nav-sidebar .item-nav{
			display: block;
			color: var(--cinza-escuro);
			padding: 2px 0;
			cursor: pointer;
			font-size: 16px;
			position: relative;
		}
		.sidebar-atendimento .nav-sidebar .item-nav::before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background-color: var(--roxo);
			-webkit-transition: ease-out .2s;
			-moz-transition: ease-out .2s;
			-ms-transition: ease-out .2s;
			-o-transition: ease-out .2s;
			transition: ease-out .2s;
		}
		.sidebar-atendimento .nav-sidebar .item-nav:hover::before{
			width: 100%;
		}
		.page-id-131 .sidebar-atendimento .nav-sidebar .item-nav.termo::before,
		.page-id-134 .sidebar-atendimento .nav-sidebar .item-nav.troca::before,
		.page-id-141 .sidebar-atendimento .nav-sidebar .item-nav.perguntas::before,
		.page-id-149 .sidebar-atendimento .nav-sidebar .item-nav.como-comprar::before,
		.page-id-167 .sidebar-atendimento .nav-sidebar .item-nav.frete::before,
		.page-id-124 .sidebar-atendimento .nav-sidebar .item-nav.link-contato::before{
			width: 100%;
			height: 2px;
		}
	.sidebar-atendimento .nav-institucional{
		
	}
	.sidebar .widget.woocommerce.widget_shopping_cart{
		border: solid 1px #ccc;
		padding: 10px;
		margin-bottom: 20px;
	}
		.sidebar .widget.woocommerce.widget_shopping_cart ul{
			
		}
			.sidebar .widget.woocommerce.widget_shopping_cart ul li{
		
			}
		.sidebar .widget.woocommerce.widget_shopping_cart .button.wc-forward{
			background-color: var(--roxo);
			font-size: 15px;
			color:#fff;
			max-width: 155px;
		}
		.sidebar .widget.woocommerce.widget_shopping_cart .button.checkout.wc-forward{
			background: #4CAF50;
			text-transform: capitalize;
			font-size: 15px;
			color:#fff;
			max-width: 155px;
		}
		
/* MEDIA QUERY */
  @media(max-width: 1200px){
  	.sidebar-atendimento {
  		padding: 39px 10px 0;
  	}
  }

  @media(max-width: 991px){
  	.sidebar-atendimento .titulo {
  		font-size: 27px;
  	}
  }

  @media(max-width: 840px){
  	.sidebar-atendimento .nav-sidebar .item-nav {
  		font-size: 15px;
  	}
  	.sidebar-atendimento .nav-sidebar h6 {
  		font-size: 17px;
  	}
  }

  @media(max-width: 768px){
  	.sidebar-atendimento {
  		max-width: 730px;
  		margin: 0 auto;
  	}
  }

  @media(max-width: 425px){}

  @media(max-width: 320px){}